/*
* @Author: jeromelive
* @Date:   2016-11-27 23:50:42
* @Last Modified by:   jeromelive
* @Last Modified time: 2016-11-29 23:54:30
*/

html{
	font-style: 20px;
}

article.background-border{
	max-width: 920px;
	margin: 2.5rem auto;
	background-color: #F8ECE8;
	font-size: 1rem;
}

article.background-border h1{
	color: #DC277E;
	font-size: 2rem;
	font-weight: bold;
}

article.background-border h1 span{
	display: inline-block;
	color: #fff;
	font-size: 5rem;
	text-align: right;
	width: 6rem;
	line-height: 1;
	padding: .5rem 2rem;
	margin: 0 1rem 0 0;
	border-radius:4rem 4rem 0 4rem;
	background: #DC277E;
}

article.background-border div.entry{
	color: #fff;
	padding: 1.6rem;
	border-radius: 2rem;
	background-color: #6D5E58;
}

article.background-border div.entry p:first-child{
	color: #A8C234;
	font-weight: bold;
}

article.background-border div.entry h2.additional{
	color: #DC277E;
}

article.background-border div.translucent{
	color: #646464;
	border: 10px solid hsla(0,0%,100%,.5);
	background: white;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-o-background-clip: padding-box;
}

article.background-border div.multiple-borders{
	box-shadow: 0 0 0 10px yellowgreen,0 0 0 15px deeppink;
}

article.background-border div.multiple-borders ul.outline{
	max-width: 400px;
	margin: 0 auto;
	border: 5px solid #fff;
	outline: 5px solid #DC277E;
	border-radius: 4rem;
}

/******************************************背景定位部分***********************************************************/
article.background-border  div.backgroundposition{
	background: url( "./img/dongnanya.png" ) no-repeat #58a bottom right;
	background-position: right 20px bottom 10px;
}

article.background-border  div.boxshadowoutline{
	outline: 1rem solid yellowgreen;
	box-shadow: 0 0 0 .8rem yellowgreen;
}

/*******************************************渐变部分****************************************/
article.background-border div.entry p.stripeP{
	border: 1px solid;
	color: #6D5E58;
	cursor: pointer;
	line-height: 2;
	font-weight: bold;
}

/*两条条纹*/
article.background-border div.stripebackground{
	background: linear-gradient( #fb3 50%,#58a 50%);
	/*创建不全等条纹*/
	/*background: linear-gradient( #fb3 30%,#58a 30% );*/
	background: -webkit-linear-gradient( #fb3 50%,#58a 50% );
	background: -moz-linear-gradient( #fb3 50%,#58a 50% );
	background: -o-linear-gradient( #fb3 50%,#58a 50% );
	background-size: 100% 30px;/*把条纹的盖度缩小到了15px,背景默认情况下是重复平铺的*/
}

/*条纹方向想右*/
article.background-border div.rifgtstripebackground{
	background: linear-gradient( to right,#fb3 50%,#58a 50%);
	background: -webkit-linear-gradient( left,#fb3 50%,#58a 50% );
	background: -moz-linear-gradient( right,#fb3 50%,#58a 50% );
	background: -o-linear-gradient( right,#fb3 50%,#58a 50% );
	background-size: 30px 100%;
}

/*三条纹*/
article.background-border div.threestripebackground{
	background: linear-gradient( #fb3 33.30%,#58a 0,#58a 66.6%,yellowgreen 0);
	background: -webkit-linear-gradient( #fb3 33.3%,#58a 0,#58a 66.6%,yellowgreen 0 );
	background: -moz-linear-gradient( #fb3 33.3%,#58a 0,#58a 66.6%,yellowgreen 0 );
	background: -o-linear-gradient( #fb3 33.3%,#58a 0,#58a 66.6%,yellowgreen 0 );
	background-size: 100% 45px;
}

/*倾斜45度条纹*/
article.background-border div.tilt45stripebackground{
	background: linear-gradient( 45deg, #fb3 25%,#58a 0,#58a 50%,#fb3  0, #fb3 75%,#58a 0);
	background: -webkit-linear-gradient( 45deg, #fb3 25%,#58a 0,#58a 50%,#fb3  0, #fb3 75%,#58a 0);
	background: -moz-linear-gradient( 45deg, #fb3 25%,#58a 0,#58a 50%,#fb3  0, #fb3 75%,#58a 0);
	background: -o-linear-gradient( 45deg, #fb3 25%,#58a 0,#58a 50%,#fb3  0, #fb3 75%,#58a 0);
	background-size: 30px 30px;
}

/*倾斜60度条纹*/
article.background-border div.tilt60stripebackground{
	background: repeating-linear-gradient( 45deg, #fb3,#fb3 15px,#58a 0,#58a 30px );
	background: -webkit-repeating-linear-gradient( 45deg, #fb3,#fb3 15px,#58a 0,#58a 30px );
	background: -moz-repeating-linear-gradient( 45deg, #fb3,#fb3 15px,#58a 0,#58a 30px );
	background: -o-repeating-linear-gradient( 45deg, #fb3,#fb3 15px,#58a 0,#58a 30px );
	background-size: 42.426406871px 42.426406871px ;
}

/*网格背景*/
article.background-border div.stripeoverlap{
	background-color: white;
	background-image: linear-gradient( 90deg, rgba(200,0,0,.5) 50%, transparent 0 ),linear-gradient( rgba(200,0,0,.5) 50%, transparent 0 );
	/*background-image: -webkit-linear-gradient( 90deg, rgba(200,0,0,.5) 50%, transparent 0 ),-webkit-linear-gradient( rgba(200,0,0,.5) 50%, transparent 0 );*/
	background-image: -moz-linear-gradient( 90deg, rgba(200,0,0,.5) 50%, transparent 0 ),-moz-linear-gradient( rgba(200,0,0,.5) 50%, transparent 0 );
	background-image: -o-linear-gradient( 90deg, rgba(200,0,0,.5) 50%, transparent 0 ),-o-linear-gradient( rgba(200,0,0,.5) 50%, transparent 0 );
	background-size: 30px 30px;	
/*	background: white;
	background-image: linear-gradient(white,1px,*/
}

/*固定宽度边框网格*/
/*article.background-border div.stripeoverlap{
	background-image: linear-gradient( 90deg, white 1px, transparent 0 ),linear-gradient( white 1px, transparent 0 );
	background-image: -webkit-linear-gradient( 90deg, white 1px, transparent 0 ),-webkit-linear-gradient( white 1px, transparent 0 );
	background-image: -moz-linear-gradient( 90deg, white 1px, transparent 0 ),-moz-linear-gradient( white 1px, transparent 0 );
	background-image: -o-linear-gradient( 90deg, white 1px, transparent 0 ),-o-linear-gradient( white 1px, transparent 0 );
	background-size: 30px 30px;	
}*/

/*重复波点*/
article.background-border div.stripetanover{
	background: #655;
	background-image: radial-gradient(tan 30%, transparent 0),radial-gradient(tan 30%, transparent 0);
	background-image: -webkit-radial-gradient(tan 30%, transparent 0),-webkit-radial-gradient(tan 30%, transparent 0);
	background-image: -moz-radial-gradient(tan 30%, transparent 0),-moz-radial-gradient(tan 30%, transparent 0);
	background-image: -o-radial-gradient(tan 30%, transparent 0),-o-radial-gradient(tan 30%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0,15px 15px;
}

/**/
